<p>
listar cotizaciones
</p>

<div class="row">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Buscar</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dni">
    </div>
    
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ASUNTO</th>
      <th scope="col">CLIENTE</th>
      <th scope="col">FECHA - HORA</th>
      <th scope="col">CREADO POR</th>
      <th scope="col">ESTADO</th>
      <th scope="col">TOTAL</th>
      <th scope="col" colspan="3">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>COTIZACION DE PCS DELL</td>
      <td>DIRECCIÓN DE REDES INTEGRADAS DE SALUD LIMA ESTE.</td>
      <td>2019-01-07 08:48:02</td>
      <th>George Grover Rendich Cunyar</th>
      <td>En desarrollo</td>
      <td>S/. 0</td>
      <td><button>1</button></td>
      <td><button>2</button></td>
      <td><button>3</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>COTIZACION DE PCS DELL</td>
      <td>DIRECCIÓN DE REDES INTEGRADAS DE SALUD LIMA ESTE.</td>
      <td>2019-01-07 08:48:02</td>
      <th>George Grover Rendich Cunyar</th>
      <td>En desarrollo</td>
      <td>S/. 0</td>
      <td><button>1</button></td>
      <td><button>2</button></td>
      <td><button>3</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>COTIZACION DE PCS DELL</td>
      <td>DIRECCIÓN DE REDES INTEGRADAS DE SALUD LIMA ESTE.</td>
      <td>2019-01-07 08:48:02</td>
      <th>George Grover Rendich Cunyar</th>
      <td>En desarrollo</td>
      <td>S/. 0</td>
      <td><button>1</button></td>
      <td><button>2</button></td>
      <td><button>3</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>COTIZACION DE PCS DELL</td>
      <td>DIRECCIÓN DE REDES INTEGRADAS DE SALUD LIMA ESTE.</td>
      <td>2019-01-07 08:48:02</td>
      <th>George Grover Rendich Cunyar</th>
      <td>En desarrollo</td>
      <td>S/. 0</td>
      <td><button>1</button></td>
      <td><button>2</button></td>
      <td><button>3</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>COTIZACION DE PCS DELL</td>
      <td>DIRECCIÓN DE REDES INTEGRADAS DE SALUD LIMA ESTE.</td>
      <td>2019-01-07 08:48:02</td>
      <th>George Grover Rendich Cunyar</th>
      <td>En desarrollo</td>
      <td>S/. 0</td>
      <td><button>1</button></td>
      <td><button>2</button></td>
      <td><button>3</button></td>
    </tr>
  </tbody>
</table>
