<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-nav></app-nav> -->
    </div>
  </div>
  <div class="row" style="background-color: rgb(255, 255, 255);">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2" style="background-color: #1657e7;">
          <app-nav-vertical></app-nav-vertical>
        </div>
        <div class="col-md-10">
          <router-outlet></router-outlet>          
        </div>
      </div>
    </div>
  </div>
</div>